li {
  list-style-type: none;
}

h3 {
  margin-bottom: auto;
}

.description {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 100;
  font-style: italic;
}

.requirements {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 100;
}
