li {
  list-style-type: none;
  margin-bottom: auto;
}

h3 {
  margin-bottom: auto;
}

.details {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 100;
}

.date {
  margin-bottom: 1%;
  margin-top: auto;
  font-weight: bold;
}

.entry {
  margin-bottom: 2%;
}

.success {
  margin-top: 10px;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  margin-top: 10px;
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
