li {
  list-style-type: none;
  margin-bottom: auto;
}

h3 {
  margin-bottom: auto;
}

.details {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 100;
}

.date {
  margin-bottom: 1%;
  margin-top: auto;
  font-weight: bold;
}

.entry {
  margin-bottom: 2%;
}
