.entry {
  border-radius: 8px;
  padding: 1%;
  border: 2px solid;
  margin-bottom: 8px;
  border-color: grey;
}

.description {
  font-style: italic;
  font-weight: 100;
}

p {
  margin: auto;
}

.addEntryForm {
  border: 2px solid;
  border-radius: 8px;
  border-color: burlywood;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1%;
}

.error {
  border-radius: 8px;
  padding: 10px;
  color: black;
  background-color: rgb(247, 208, 208);
}
